.form-group {
    margin-bottom: 1rem;
}
.float-right {
    float: right !important;
}
.SearchCompanies input:focus {
    box-shadow: none;
    border-color: #ced4da;
}
.SearchCompanies input{
    display: inline-block;
    width:90%;
}
.SearchCompanies .btn{
    float:right;
    clear:both;
}